.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */

/* Bottom right text */

.Nav {
  top : 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
}
.time{
  display: flex;
  gap: 27px;
  margin-left: 40px;
  justify-content: space-between;
  line-height: 10px;
}

.alive-text{
    font-size: 35px;
    font-weight: 700;
}
.downlodebtn{
     width: 150px;
     height: 55px;
     border: none;
     color: white;
     font-size: 20px;
     font-weight: 700;
     background-color: blue;
     border-radius: 10px;
     cursor: pointer;
}
.center-text{
  position: absolute;
  top: 35%;
  left: 26%;
  text-align: center;

}
.left-bottom-item{
  font-size: 22px;
   font-weight: 700;
   margin-right: 75px;
}
.right-bottom-item {
  font-size: 22px;
  font-weight: 700;
  
}
.coming-text{
   font-size: 80px;
   font-weight: 700;
}
.time-text{
  color: yellow;
   font-weight: 500;
}
.bottom-split{
    bottom: 50px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.right-item{
   gap: 20px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.copy-right-footer{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 60px;
  gap: 5px;
}
.copy-right-text{
  font-size: 14px;
  
}
/* Centered text */